.navbar .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #21b5ff;
}
.navbar .navbar-nav > li > a, .navbar-default .navbar-nav > li {
    color: #ffffff;
}
.prev:hover{
    height: 120px;
    width: 120px;
}
.prev{
    height: 50px;
    width: 50px;
}